<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/html">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update User</title>
</head>
<body>
<h2>Update User</h2>
<form th:method="PUT" th:action="@{/admin/edit/{id}(id=${user.getId()})}" th:object="${user}">
    <p>
        <label for="username">User Name:</label>
        <input type="text" th:field="*{username}" id="username">
    </p>
    <p>
        <label for="password">Password:</label>
        <input type="text" th:field="*{password}" id="password">
    </p>
    <p>
        <label for="name">Name:</label>
        <input type="text" th:field="*{name}" id="name">
    </p>
    <p>
        <label for="age">Age:</label>
        <input type="text" th:field="*{age}" id="age">
    </p>
    <p>
        <label for="email">Email:</label>
        <input type="text" th:field="*{email}" id="email">
    </p>
    <input type="checkbox" name="nameRoles" value="ROLE_USER"/> USER
    <input type="checkbox" name="nameRoles" value="ROLE_ADMIN"/> ADMIN
    <p>
        <input type="submit" value="OK"/>
    </p>
</form>
<h4>Authorization page :</h4>
<button>
    <a th:href="@{/logout}">Logout</a>
</button>
</body>
</html>