<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:c="http://java.sun.com/xml/ns/javaee">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Page</title>
</head>
<body>
<h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    Your page</h1>
<table border="1" cellpadding="7">
    <tr>
        <th> Id</th>
        <th> Username</th>
        <th> Name</th>
        <th> Age</th>
        <th> Email</th>
        <th> Roles</th>
    </tr>
    <tr>
        <td th:utext="${user.getId()}"></td>
        <td th:utext="${user.getUsername()}"></td>
        <td th:utext="${user.getName()}"></td>
        <td th:utext="${user.getAge()}"></td>
        <td th:utext="${user.getEmail()}"></td>
        <td th:each="role : ${roles}">
            <p th:text="${role.getRole()}"></p></td>
    </tr>
</table>
<br>
<h4>Authorization page: </h4>
<button>
    <a th:href="@{/logout}">Logout</a>
</button>
</body>
</html>